<div class="row">
  <div class="col-md-8">
    {{contacts | json}}
  </div>
  <div class="col-md-4">
   <form [formGroup]="cform" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label>Name:</label>
          <input type="text" formControlName="name" placeholder="Enter the nmae" class="form-control">
          <div *ngIf="name.touched && !name.valid">
            <div *ngIf="name.errors.required" class="alert alert-danger">Name cant be empty</div>
            <div *ngIf="name.errors.minlength" class="alert alert-danger">Name should have min 3 characters</div>
          </div>
       </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email"  formControlName="email" placeholder="Enter the email" class="form-control">
    </div>
    <div class="form-group">
      <label>Mobile:</label>
      <input type="text"  formControlName="mobile" placeholder="Enter the mobil" class="form-control">
    </div>
    <div class="form-group">
        <label>City:</label>
        <input type="text"  formControlName="city" placeholder="Enter the city" class="form-control">
    </div>
    <button class="btn btn-primary" [disabled]="!cform.valid">Add Contact</button>
    </form>
  </div>
</div>

